@font-face {
  font-family: "Cuprum";
  src: url("../fonts/web/cuprum.woff2") format("woff2"), url("../fonts/web/cuprum.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/web/ptsans.woff2") format("woff2"), url("../fonts/web/ptsans.woff") format("woff");
}

body {
  width: 1200px;
  padding: auto;
  margin: 0 auto;

  font-family: "PT Sans", "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

h2,
.manufacturers,
.breadcrumbs {
  text-transform: uppercase;
}

.site-search-navigation,
.site-navigation,
.main-navigation,
.main-navigation-footer,
.site-navigation-footer,
.footer-social {
  list-style: none;
}

.site-navigation a,
.site-search-navigation a,
.footer-copyrights a,
.main-navigation a,
.site-navigation-footer a,
.footer-social a {
  color: #ffffff;
}

.main-navigation-footer a,
.footer-support a,
.footer-copyright a {
  color: #ebc37c;
}
/* шапка */
.main-header {
  color: #ffffff;

  background-color: #f1f5f7;
}

.site-search-navigation a {
  font-weight: 600;
  color: #ffffff;
}

.exposition {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  color: #ee3643;
}

.tel a {
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  color: #ee3643;
  border: 2px solid #ffffff;  
}

.address {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #32425c;   
}

.login-info {
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

a.user-orders {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #32425c;
}

a.private-office {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #32425c;
}

/* строка с поиском и карзиной и копирайты */
.search-marker-basket,
.footer-copyrights {
  color: #ffffff;
  background-color: #293449;
}
/* главная и тд*/
.main-navigation,
.main-footer-top {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #32425c;
}

.site-search-navigation a:hover,
.site-search-navigation a:focus {
  background-color: #212a3a;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #ee3643;
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus,
.main-navigation-footer a:hover,
.main-navigation-footer a:focus,
.footer-support a:hover,
.footer-support a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
}

.partnnership-list {
  list-style: none;
}

.partnnership-list::before {
  content: "_";
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: #ee3643;
  column-width: 160px;
  padding-top: -20px;
  margin-left: -25px;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
}

.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #000000;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  line-height: 20px;
  font-weight: normal;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog {
  font-size: 18px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}

.catalog ul {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  background-color: #ffffff;
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  font-size: 16px;
  line-height: 18px;
  color: #000000
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  font-weight: normal;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #ee3643;
}

.old-price {
  font-size: 18px;
  line-height: 20px;
  text-decoration: line-through;
  color: #999999;

  background-color: #ffffff;
}

.price {
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;

  background-color: #ee3643;
}

.manufacturers {
  font-size: 17px;
  line-height: 30px;
  list-style: none;
  color: #000000;

  background-color: #ffffff;
}

.supply {
  font-size: 17px;
  line-height: 30px;
  list-style: none;
  color: #000000;
  border-top:  

  background-color: #ffffff;
}

.filter-input {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  color: #000000;

  background-color: #ffffff;
}

.about-company {
  text-align: left;
  color: #000000;
}

.about-company h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}

.about-company li {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
}

.about-company p {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.about-company a {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;

  background-color: #ee3643;
}

.map {
  text-align: left;
  color: #000000;
}

.map h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}

.map p {
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.map a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  background-color: #ee3643;
}

.b-popup {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}

 button.send-link{
  font: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #ee3643;
  border: none;
}

.b-popup-content input {
  font: inherit;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;

  background-color: transparent;
  border: 2px solid #dee3e4;
}

/* кнопки*/
a.button-ckeckout {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #63a63e;
  border: none;
}

a.button-ckeckout:hover,
a.button-ckeckout:focus,
a.button-ckeckout:active {
  background-color: #5fbb2d;
}


a.user-cabinet {
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  background-color: #ffffff;
  border: none;
} 

/*a.user-cabinet::before {
  content: "";
  background-image: url(img/icon-login.svg);
  background-size: 20px 17px;
  width: 20px;
  height: 17px;
  position: absolute;
  left: 50%;
}*/

a.registry-link {
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  background-color: #ffffff;
  border: none;
} 

a.registry-link:hover,
a.registry-link:focus,
a.registry-link:active,
a.user-cabinet:hover,
a.user-cabinet:focus,
a.user-cabinet:active {
  color: #ee3643;
}

.footer-social {
  text-align: center;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  text-align: right;
}

.footer-support {
  text-align: right;
}

.footer-copyrights p:first-child {
  text-align: left;
}
