body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: #ee3643;
}

.h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
}



.main-navigation-logo {
  background-color: #ee3643;
  display: flex;
  width: 220px;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  border-bottom: 5px solid #b52933;
}

.main-navigation-logo:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.main-navigation-logo:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.search-wrapper {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  position: relative;
}

.search {
  margin: 0;
  padding-left: 49px;
  padding-top: 11px;
  padding-bottom: 11px; 
  min-width: 221px;

  background: #293449 url(../img/icon-search-p.svg) no-repeat 17px center;
  color: #ffffff;
  border: none;
}

.search:hover {
  background-color: #212a3a;
  background-image: url(../img/icon-search.svg);
  color: #ffffff;
}

.search:focus {
  background-color: #ffffff;
  background-image: url(../img/icon-search-k.svg);
  color: #000000;
}

.search::-moz-placeholder { 
  color: #ffffff; 
}

.search::-webkit-input-placeholder { 
  color: #ffffff; 
}

.search:-ms-input-placeholder { 
  color: #ffffff; 
}

.search::-ms-input-placeholder { 
  color: #ffffff; 
}

.search::placeholder { 
  color: #ffffff; 
}

.site-search-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.site-search-navigation a {
  display: inline-block;
  padding: 12px 21px;
}

a.marker {
  padding: 12px 18px;
  padding-left: 44px;
  position: relative;
}

a.marker:active {
  color: #8b8e94;
}

.marker::before {
  content: "";
  background-image: url(../img/icon-bookmark-p.svg);
  background-size: 16px 14px;
  /*background-color: #6a7180;*/
  width: 16px;
  height: 14px;
  position: absolute;
  left: 17px;
}

.marker:hover::before {
  content: "";
  background-image: url(../img/icon-bookmark.svg);
  background-size: 16px 14px;
  /*background-color: #6a7180;*/
  width: 16px;
  height: 14px;
  position: absolute;
  left: 17px;
}

.marker:active::before {
  content: "";
  background-image: url(../img/icon-bookmark-k.svg);
  background-size: 16px 14px;
  /*background-color: #6a7180;*/
  width: 16px;
  height: 14px;
  position: absolute;
  left: 17px;
}

a.basket {
  padding: 12px 30px;
  padding-left: 60px;
  position: relative;
}

a.basket:active {
  color:  #8b8e94;
}  

.basket::before {
  content: "";
  background-image: url(../img/icon-cart-p.svg);
  background-size: 16px 14px;
  /*background-color: #6a7180;*/
  width: 16px;
  height: 14px;
  position: absolute;
  left: 28px;
}

.basket:hover::before {
  content: "";
  background-image: url(../img/icon-cart.svg);
  background-size: 16px 14px;
  /*background-color: #6a7180;*/
  width: 16px;
  height: 14px;
  position: absolute;
  left: 28px;
}

.basket:active::before {
  content: "";
  background-image: url(../img/icon-cart-k.svg);
  background-size: 16px 14px;
  /*background-color: #6a7180;*/
  width: 16px;
  height: 14px;
  position: absolute;
  left: 28px;
}

/* шапка */
.main-header  {
  font-family: "Cuprum", Arial, sans-serif;
  min-height: 320px;
  color: #ffffff;
  background-color: #f1f5f7;
  margin-bottom: 59px;
}

.inner-page .main-header-catalog {
  margin: 0;
  margin-bottom: 25px;
}

.search-marker-basket-wrapper {
  display: flex;
  max-height: 42px;
}

.contacts-navigation {
  margin: 0;
  padding: 0;

  margin-bottom: 38px;
}

.contacts-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 270px;
  text-align: center;
}

.user-login {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 300px;
  font-size: 21px;
  text-align: end;
}

.exposition {
  margin: 0;
  padding: 0;
  width: 200px;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  color: #ee3643;
}

.main-navigation {
  margin: 0 auto;
  padding: 0;
  width: 940px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  min-height: 55px;
  border-bottom: 5px solid #293449;
  list-style: none;

  background-color: #32425c;
}

.main-navigation a {
  color: #ffffff;
}

.site-search-navigation a {
  color: #ffffff;
}

.tel a {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 8px 49px 7px 83px;
  margin: auto;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  position: relative;
  min-width: 270px;  
}

.tel a::before {
  content: "";
  background-image: url("../img/icon-phone.svg");
  background-size: 19px 19px;

  width: 19px;
  height: 19px;
  position: absolute;
  left: 13px;
}

.address {
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;   
}

.login-info {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 46px;
  padding-right: 68px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.login-info::before {
  content: "";
  background-image: url(../img/icon-user.svg);
  background-size: 20px 18px;
  width: 20px;
  height: 18px;
  position: absolute;
  left: 13px;
}

.login-info:hover::before {
  content: "";
  background-image: url(../img/icon-user-p.svg);
  background-size: 20px 18px;
  width: 20px;
  height: 18px;
  position: absolute;
  left: 13px;
}

.login-info:active::before {
  content: "";
  background-image: url(../img/icon-user.svg);
  background-size: 20px 18px;
  width: 20px;
  height: 18px;
  position: absolute;
  left: 13px;
}

.login-info::after {
  content: "";
  background-image: url(../img/icon-logout.svg);
  background-size: 20px 17px;
  width: 20px;
  height: 17px;
  position: absolute;
  right: 10px;
}

.login-info:hover::after {
  content: "";
  background-image: url(../img/icon-logout-p.svg);
  background-size: 20px 17px;
  width: 20px;
  height: 17px;
  position: absolute;
  right: 10px;
}

.login-info:active::after {
  content: "";
  background-image: url(../img/icon-logout.svg);
  background-size: 20px 17px;
  width: 20px;
  height: 17px;
  position: absolute;
  right: 10px;
}

a.user-orders {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #32425c;
  position: relative;
  margin-right: 30px;
}

a.user-orders::after {
  content: ".";
  color: #32425c;
  background-size: 30px;
  position: absolute;
  right: -16px;
}

a.user-orders:hover::after {
  content: ".";
  background-size: 30px;
  color: #32425c;
  position: absolute;
  right: -16px;
}

a.private-office {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #32425c;
}


/* строка с поиском и карзиной и копирайты */
.search-marker-basket {
  font-family: "Cuprum", Arial, sans-serif;
  margin-bottom: 43px;
  color: #ffffff;
  background-color: #293449;
}

/* главная и тд*/

.main-footer-top {
  font-family: "Cuprum", Arial, sans-serif;
  min-height: 193px;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;

  background-color: #32425c;
}


.footer-copyrights {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  min-height: 107px;
  font-size: 16px;
  color: #ffffff;
  background-color: #293449
}

.footer-copyrights-wrapper {
  display: flex;
  justify-content: space-between;
}

a.registry-link {
  padding: 10px 24px;
  padding-bottom: 11px;
  font-size: 17px;
  line-height: 21px;
  font: inherit;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: none;
} 

a.registry-link:hover,
a.registry-link:focus,
a.user-cabinet:hover,
a.user-cabinet:focus {
  color: #ee3643;
}

a.login-info:active,
a.registry-link:active,
a.user-cabinet:active {
  color: #b2b2b2;
}

.site-search-navigation a:hover,
.site-search-navigation a:focus {
  background-color: #212a3a;
}

.site-search-navigation a:active {
  background-color: #161d29;
}

.site-navigation {
  display: flex;
  justify-content: center;
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 20px; 
  list-style: none;
  font-size: 17px;
  line-height: 17px;
}

.site-navigation a {

  padding: 18px 31px; 
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: #8e939c;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #ee3643;
}

.footer-social a:active {
  background-color: #ee3643;
}

a.user-orders:hover,
a.user-orders:focus,
a.private-office:hover,
a.private-office:focus {
  color: #ee3643;
}

a.user-orders:active,
a.private-office:active {
  color: #b2b2b2;
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus,
.main-navigation-footer a:hover,
.main-navigation-footer a:focus,
.footer-support a:hover,
.footer-support a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
}


.user {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.user li {
  margin: 0;
  padding: 0;
}

.site-navigation-footer a:active {
  color: #929caa;
}

.main-navigation-footer a:active {
  color: #998a6e;
}

.footer-support a:active,
.footer-copyright a:active {
  text-decoration: none;
  color: #ee3643;
}

.main{
  margin: 0;
  padding: 0;
}

.partnnership-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.partnnership-list li {
  padding-left: 36px;
  margin-bottom: 19px;
  position: relative; 
}

.partnnership-list li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  background-size: 2px 25px;
  width: 25px;
  height: 2px;
  font-weight: bold;
  background-color: #ee3643;
}

.page-title {
  margin: 0;
  padding: 34px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.breadcrumbs {
  margin: 0;
  padding: 0; 
  display: flex;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.breadcrumbs a {
  margin: 0;
  padding: 0;
  color: #000000;
}
.breadcrumbs li {
  margin: 0;
  padding: 0;
  margin-right: 36px;
  position: relative;
}

.breadcrumbs li::before {
  content: "";
  background-image: url(../img/icon-right-small.svg);
  background-size: 8px 12px;
  width: 8px;
  height: 12px;
  position: absolute;
  left: -20px;
  top: 3px;
}

.breadcrumbs li:first-child::before {
  background-image: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #000000;
}

.filters {
  width: 220px;
}

.filters fieldset {
  border: none;
}

.legend {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  line-height: 20px;
  font-weight: normal;
}

.manufacturers-list {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  border-bottom: 1px solid #e5e5e5;
}

.supply-list {
  margin: 0;
  padding: 0;
}

.filter-option {
  padding: 0;
  margin: 0;
  padding-left: 35px;
  margin-bottom: 19px;
  font-size: 15px;
  position: relative;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-checkbox input[type="checkbox"] + .filter-input-check {
  position: absolute;
  content: "";
  background-image: url(../img/checkbox-off.svg); 
  background-color: #ffffff;
  background-size: 25px 25px;
  width: 25px; 
  height: 25px;
  cursor: pointer;
  border: none;
  left: 0;
  top: -3px;
}

.filter-checkbox input[type="checkbox"]:hover + .filter-input-check {
  cursor: pointer;
}

.filter-checkbox input[type="checkbox"]:active + .filter-input-check {
  position: absolute;
  content: "";
  background-image: url(../img/checkbox-on.svg); 
  background-color: #ffffff;
  background-size: 25px 25px;
  width: 25px; 
  height: 25px;
  cursor: pointer;
  border: none;
}

.filter-checkbox input[type="checkbox"]:checked + .filter-input-check {
  position: absolute;
  content: "";
  background-image: url(../img/checkbox-on.svg); 
  background-color: #ffffff;
  background-size: 25px 25px;
  width: 25px; 
  height: 25px;
  cursor: pointer;
  border: none;
  left: 0;
}

.filter-option input[type="radio"] + .filter-input-checked {
  position: absolute;
  content: "";
  background-image: url(../img/radio-off.svg); 
  background-color: #ffffff;
  background-size: 25px 25px;
  width: 25px; 
  height: 25px;
  cursor: pointer;
  border: none;
  left: 0;
  top: -3px;
}

.filter-checkbox input[type="radio"]:hover + .filter-input-checked {
  cursor: pointer;
}

.filter-checkbox input[type="radio"]:active + .filter-input-checked {
  position: absolute;
  content: "";
  background-image: url(../img/radio-on.svg); 
  background-color: #ffffff;
  background-size: 27px 25px;
  width: 27px; 
  height: 25px;
  cursor: pointer;
  border: none;
}

.filter-checkbox input[type="radio"]:checked + .filter-input-checked {
  position: absolute;
  content: "";
  background-image: url(../img/radio-on.svg);
  background-color: #ffffff;
  background-size: 27px 25px; 
  width: 27px; 
  height: 25px;
  border: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

button.find-link {
  margin: 0;
  padding: 9px 43px;
  font: inherit;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  color: #000000;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.catalog {
  width: 700px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog ul {
  list-style: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 700px;
  margin: 20px auto;
  text-align: center;

  list-style: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #ccc;
}

.catalog-item:hover {
  box-shadow: 0 5px 23px 0 rgba(0,0,0,0.3) ;
}

.catalog-item .new {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  overflow: hidden;
  z-index: 20;
}

.materials .new {
  padding: 0;
  margin: 0;
  position: absolute;
  margin-left: 240px;
  }

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.top-perforators .image {
  width: 216px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .catalog-item-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px; 
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.top-perforators .title-price {
  margin: 0 auto;
  margin-top: 43px;
}

.catalog-item .price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item .buy-favorit-button {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
}

.catalog-item .buy-favorit-button .buy-button,
.catalog-item .buy-favorit-button .favorit-button {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .buy-favorit-button .favorit-button {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .buy-favorit-button .favorit-button:hover {
  color: #32425c;
  background: white;
  border: 3px solid #32425c;
  border-bottom-color: #32425c;
}

.catalog-item .buy-favorit-button .favorit-button:active {
  color: #c1c6ce;
  background: white;
  border: 3px solid #c1c6ce;
  border-bottom-color: #c1c6ce;
}

.catalog-item .buy-favorit-button {
  display: none;
}

.catalog-item:hover .buy-favorit-button {
  display: block;
}

.catalog-item .buy-favorit-button .buy-button:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .buy-favorit-button .buy-button:active {
  background-color: #518534;
  border: 3px solid #518534;
  border-bottom-color: #518534;
}



.top-perforators-list li:nth-child(4n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.top-perforators-item {
  width: 220px;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #e5e5e5;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  background-color: #ffffff;
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  font-size: 18px;
  line-height: 20px;
  color: #000000
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  list-style: none;
}

.pagination-list li{
  padding: 0;
  margin: 0;
}

.pagination-item a {
  font-size: 13px;
  padding: 9px 13px;
  margin-right: 4px;
  color: #000000;
  font-weight: normal;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #ee3643;
}

.old-price {
  font-weight: 700;
  text-decoration: line-through;
  color: #999999;

  background-color: #ffffff;
}

.price {
  padding: 13px 36px;
  padding-right: 40px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
}

.manufacturers {
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  list-style: none;
  color: #000000;

  background-color: #ffffff;
  text-transform: uppercase;
}

.supply {
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  list-style: none;
  color: #000000;
  margin-bottom: 70px;
  background-color: #ffffff;
  text-transform: uppercase;
}

.span-filter {
  padding: 10px 18px;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 13px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.catalog-filters {
  display: flex;
  padding: 9px 19px;
  padding-bottom: 8px;
  margin: 0;
  font-size: 13px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.catalog-filters span {
  font-family: "PT Sans", Arial, sans-serif;
  width: 227px; 
}
.catalog-filters-list {
  padding: 0;
  margin: 0;
  width: 460px;
  display: flex;
  position: relative;
}

.catalog-filters-list::before {
  content: "";
  background-image: url(../img/icon-down-dir-p.svg);
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
  position: absolute;
  right: 0px;
  top: 6px;
}

.catalog-filters-list:hover::before {
  content: "";
  background-image: url(../img/icon-down-dir.svg);
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
  position: absolute;
  right: 0px;
  top: 6px;
}

.catalog-filters-list:active::before {
  content: "";
  background-image: url(../img/icon-down-dir-k.svg);
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
  position: absolute;
  right: 0px;
  top: 6px;
}

.catalog-filters-list::after {
  content: "";
  background-image: url(../img/icon-up-dir-p.svg);
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
  position: absolute;
  right: 32px;
  top: 6px;
}

.catalog-filters-list:hover::after {
  content: "";
  background-image: url(../img/icon-up-dir.svg);
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
  position: absolute;
  right: 32px;
  top: 6px;
}

.catalog-filters-list:active::after {
  content: "";
  background-image: url(../img/icon-up-dir-k.svg);
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
  position: absolute;
  right: 32px;
  top: 6px;
}

.catalog-filters-item {
  color: #b2b2b2;
  margin-right: 71px;
  border-bottom: 1px dotted #ee3643;
}

.catalog-filters-item:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
}

.catalog-filters-item:active {
  color: #ee3643;
  border-bottom: none;
}

.catalog-filters-item-current {
  color: #ee3643;
  border: none;
}

.range {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 19px;
}

.count-label {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.count-wrapper {
  padding: 0;
  margin: 0;
  height: 80px;
  width: 220px;
  text-align: center;
  border-radius: 3px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  margin-top: 20px;
  position: relative;
}

.count-wrapper::before {
  content: "";
  position: absolute;
  background-color: #d7dcde;
  width: 161px;
  height: 2px;
  top: 39px;
  left: 40px;
}

.range-button-one,
.range-button-two {
  padding: 0;
  margin: 0;
  position: relative;
}

.range-button-one::before {
  content: "";
  position: absolute;
  background-image: url(../img/filter-button.svg);
  width: 20px;
  height: 22px;
  top: 30px;
  left: 20px;
  cursor: pointer;
}

.range-button-two::before {
  content: "";
  position: absolute;
  background-image: url(../img/filter-button.svg);
  width: 20px;
  height: 22px;
  top: 30px;
  left: 160px;
  cursor: pointer;
}

.count-wrapper::after {
  content: "";
  position: absolute;
  background-color: #00ca74;
  width: 120px;
  height: 2px;
  top: 39px;
  left: 40px;
}

.coutput-list {
  padding: 0;
  margin: 0;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.coutput-list li {
  font-family: "PT Sans", Arial, sans-serif;
  padding-top: 10px;
  min-width: 95px;
  min-height: 28px;
  background-color: #f7f3ec;
  font-size: 17px;
  border-radius: 2px;
  text-align: center;
}

.coutput-list::before {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 10px;
  height: 1px;
  top: 19px;
  left: 105px;
}


.coutput-list li span.one,
.coutput-list li span.coutput {
  padding: 0;
  margin: 0;
}

.filter-input {

  line-height: 20px;
  list-style: none;
  color: #000000;

  background-color: #ffffff;
}

.main-wrapper {
  display: flex;
  min-height: 457px;
}

.about-company {
  margin: 0;
  padding: 0;
  min-height: 378px;
  width: 517px;
  color: #000000;
}

.about-company-wrapper {
  padding: 0;
  margin: 0;
  min-height: 330px;
}

.company-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 368px;
}

.about-company h2 {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 39px;
  color: #000000;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-company p {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 28px;
  color: #000000;
}

.about-company a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  background-color: #ee3643;
}

.map {
  margin: 0;
  padding: 0;
  min-height: 378px;
  width: 300px;
  color: #000000;
}

.map h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.map p {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 39px;
}

.map a {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  background-color: #ee3643;
}

img.map-img{
  margin-bottom: 33px;
}

a.button {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 11px 41px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  border-radius: 2px;
}

a.button-support {
  padding: 11px 59px;
  padding-left: 64px;
}

/* кнопки*/
a.button-ckeckout {
  padding: 13px 21px;
  padding-bottom: 11px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
  border: none;
  white-space: nowrap;
}

a.button-ckeckout:hover {
  background-color: #5fbb2d;
}

a.button-ckeckout:active {
  background-color: #518534;
  color: #a2be93;
}

a.user-cabinet {
  margin: 0;
  margin-right: 3px;
  padding: 10px 25px;
  padding-left: 49px;
  padding-bottom: 11px;
  font-size: 17px;
  line-height: 21px;
  font: inherit;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: none;
  position: relative;
} 

a.user-cabinet::before {
  content: "";
  background-image: url(../img/icon-login.svg);
  background-size: 20px 17px;
  width: 20px;
  height: 17px;
  position: absolute;
  left: 14px;
}

a.user-cabinet:hover::before {
  content: "";
  background-image: url(../img/icon-login-h.svg);
  background-size: 20px 17px;
  width: 20px;
  height: 17px;
  position: absolute;
  left: 14px;
}

a.user-cabinet:active::before {
  content: "";
  background-image: url(../img/icon-login.svg);
  background-size: 20px 17px;
  width: 20px;
  height: 17px;
  position: absolute;
  left: 14px;
}

.info-about {
  padding: 0;
  margin: 0;
  min-height: 261px;
  background-color: #f2f6f8;
}

.info-about p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.h4-info-about {
  padding: 0;
  padding-top: 69px;
  margin: 0;
  margin-bottom: 38px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.info-about-wrapper {
  align-items: center;
}

.main-navigation-footer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-footer a {
  margin-right: 60px;
  color: #ffd180;
}

.main-navigation-footer li:last-child a {
  margin-right: 0;
}

.site-navigation-footer {
  display: flex;
  margin: 0;
  margin-left: 68px;
  padding-top: 30px;
  list-style: none;
}

.site-navigation-footer a {
  padding: 0;
  margin-left: 60px;
  color: #ffffff;
}


.block-footer-top {
  display: flex;
  min-height: 68px;
  margin-bottom: 31px;
}

.footer-contacts {
  margin: 0;
  padding: 0;
  font-style: normal;
  min-width: 322px;
  }


.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  text-align: center;
}

.footer-social a {
  margin-left: 3px;
  padding: 13px;
  background: #212a3a;
  color: #ffffff;
}


.social-button {
  display: flex;
  width: 10px;
  height: 10px;
  background: #212a3a;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-copyright {
  text-align: right;
}

.footer-copyright a {
  color: #ebc37c;
}

.footer-support {
  margin-left: 40px;
}

.footer-support a {
  color: #ebc37c;
}

.footer-copyrights p:first-child {
  text-align: left;
}

.support-wrapper {
  display: flex;
  justify-content: space-between;
}

.block-footer-bottom {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.visually-catalog {
  padding: 0;
  margin: 0;
  margin-bottom: 53px;
  height: 410px;
}

.visually-catalog-list {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visually-catalog-list li {

  border: none;
  margin-bottom: 20px;
}

.visually-catalog-item {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  width: 300px;
  height: 123px;
}

.visually-catalog-img {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  width: 620px;
  height: 266px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.visually-catalog-item div {
  font-family: "Cuprum", Arial, sans-serif;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding: 23px;
  color: #ffffff;
}

.visually-catalog-item a {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 10px 22px;
  border-radius: 2px;
  margin-left: 25px;
  width: 38px;
  height: 135px;

  color: #ffffff;
  background-color: rgba(0,0,0,0.1);
}

.visually-catalog-item a:hover {
  background-color: rgba(0,0,0,0.2);
}

.visually-catalog-item a:active {
  background-color: rgba(0,0,0,0.3);
}

a.button-visually-catalog {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 11px 46px;
  margin: 0;
  font-size: 14px;
  border-radius: 2px;
  color: #ffffff;
  background-color: #ee3643;
}

a.button-visually-catalog:hover {
  background-color: #ca2c37;
}

a.button-visually-catalog:active {
  background-color: #ba2732;
}

.materials {
  position: relative;
  background-color: #ffbf47;
}

.materials::before {
  content:"";
  background-image: url("../img/icon-1.svg");
  background-size: 44px 65px;

  position: absolute;
  right: 43px;
  top: 31px;

  width: 44px;
  height: 65px;
}

.instrument {
  position: relative;
  background-color: #3bbce3;
}

.instrument::before {
  content:"";
  background-image: url("../img/icon-2.svg");
  background-size: 75px 61px;

  position: absolute;
  right: 28px;
  top: 33px;

  width: 75px;
  height: 61px;
}

.equipment {
  position: relative;
  background-color: #dc91d8;
}

.equipment::before {
  content:"";
  background-image: url("../img/icon-3.svg");
  background-size: 78px 62px;

  position: absolute;
  right: 31px;
  top: 31px;

  width: 78px;
  height: 62px;
}

.drill {
  position: relative;
  background-color: #000000;
}

.drill p:first-child {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.drill p {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.discounts {
  position: relative;
  margin-bottom: 20px;
  background-color: #8ed78f;
}

.discounts::before {
  content:"";
  background-image: url("../img/icon-4.svg");
  background-size: 59px 72px;

  position: absolute;
  right: 45px;
  top: 26px;

  width: 59px;
  height: 72px;
}


.delivery {
  position: relative;
  background-color: #ffc047;
}


.delivery::before {
  content:"";
  background-image: url("../img/icon-5.svg");
  background-size: 78px 63px;

  position: absolute;
  right: 31px;
  top: 32px;

  width: 78px;
  height: 63px;
}

.div-with-info {
  padding: 0;
  margin: 0;
}

.div-with-info-list {
  padding: 0px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #32425c;
  background-color: #f9f5f0;
  font-family: "Cuprum", Arial, sans-serif;
  margin-bottom: 20px;
}

.div-with-info-list li {
  padding: 27px;
  margin: 0;
}

.div-with-info-item-catalog {
  padding: 11px 55px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 2px;
  background-color: #ee3643;
  text-transform: uppercase;
}

.div-with-info-manufacturers {
  padding: 11px 69px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 2px;
  background-color: #ee3643;
  text-transform: uppercase;
}

.top-perforators {
  padding: 0;
  margin: 0;
}

.top-perforators-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;

  list-style: none;
}

.top-manufacturers {
  padding: 0
  margin: 0;
  height: 312px;
  margin-bottom: 60px; 
}

.top-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}

.top-manufacturers-list li {
  display: flex;
  width: 220px;
  height: 145px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #eaeaea; 
}

.top-manufacturers-list li:hover {
  box-shadow: 0 5px 23px 0 rgba(0,0,0,0.3);
}

.top-manufacturers-list li:active {
  opacity: 0.5;
  box-shadow: 0 5px 13px 0 rgba(0,0,0,0.3);
}

.top-manufacturers-item {
  margin: auto;
}

.delivery-info {
  padding: 0;
  margin: 0;
  min-height: 522px;
  margin-bottom: 82px;
  background-color: #f4f8fa;
}

.container-delivery-info{
  position: relative;
}

.container-delivery-info::after {
  content: "";
  background-image: url("../img/layer_131.png");
  background-size: 468px 261px;

  width: 468px;
  height: 261px;
  position: absolute;
  top: 261px;
  right: 1px;
}


.delivery-wrapper {
  padding: 0;
  margin: 0;
  width: 630px;
  min-height: 378px;
  display: flex;
  flex-wrap: wrap;
}

.info-servis {
  padding: 0;
  margin: 0;
  width: 398px;
  margin-top: 68px;
}

.h2-servis {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: : 30px;
  text-transform: uppercase;
}

.info-servis p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 74px;
}

.delivery-list {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 240px;
  height: 186px;
  font-size: 21px;
  line-height: 30px;
  list-style: none;
  background-color: #32425c;
  position: relative;
}

.delivery-list::after {
  content: "";
  background-image: url(../img/layer_118_copy.png);
  /*background-color: #6a7180;*/
  width: 10px;
  height: 279px;
  position: absolute;
  bottom: -45px;
  right: 0;
}

.delivery-list li {
  margin: 0;
  border: none;
  padding: 15px;
  padding-left: 0px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  color: #ffffff;
}

.delivery-item {
  margin: 0;
  padding: 19px;
  padding-left: 23px;
  padding-right: 143px;
  color: #ffffff;
}

.delivery-list li:last-child a {
  margin: 0;
  padding: 19px;
  padding-left: 23px;
  padding-right: 160px;
  color: #ffffff;
}

.delivery-list li:last-child a:hover {
  background-color: #293449;
  color: #ffffff;
}

.delivery-item:hover {
  background-color: #293449;
  color: #ffffff;
}

.delivery-list li:hover {
  border: none;
  background-color: #293449;
  color: #ffffff;
}

.delivery-list li .current {
  background-color: #ffffff;
  color: #32425c; 
}

.info-delivery {
  padding: 0;
  margin: 0;
  margin-left: 80px;
  width: 308px;
  height: 150px;
}

.info-delivery p {
  font-size: 13px;
  line-height: 24px;
}

.h2-delivery {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;

}


.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}



.b-popup-catalog {
  padding: 0;
  width: 620px;
  height: 275px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  position: relative;
  box-shadow: 0 37px 37px 0 rgba(0, 0, 0, 0.5);
}

.b-popup-catalog::before {
  content: "";
  background-image: url(../img/form-1.png);
  background-size: 66px 66px;
  /*background-color: #6a7180;*/
  width: 66px;
  height: 66px;
  position: absolute;
  top: 48px;
  left: 81px;
}

.b-popup-catalog-up {
  margin: 0;
  height: 163px;
  padding-left: 162px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.b-popup-catalog-up p {
  padding: 0;
  padding-top: 68px;
  margin: 0;
}

.b-popup-catalog-dawn {
  margin: 0;
  padding: 0;
  padding-top: 49px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  background-color: #f1f1f1;
  height: 63px;
  text-transform: uppercase;
}

.b-popup-catalog-dawn a {
  padding: 0;
  margin: 0;
}

.b-popup-catalog-dawn .b-popup-catalog-checkout {
  padding: 11px 61px;
  margin: 0;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;
  margin-right: 20px;
}

.b-popup-catalog-dawn .b-popup-catalog-catalog {
  padding: 11px 61px;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
  position: relative;
}

.b-popup-catalog-dawn .b-popup-catalog-catalog::before {
  content: "";
  background-image: url(../img/icon-close.svg);
  background-size: 21px 21px;
  /*background-color: #6a7180;*/
  width: 21px;
  height: 21px;
  position: absolute;
  right: -50px;
  bottom: 212px;
}

.b-popup {
  padding: 0;
  width:  620px;
  height: 423px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 5px 5px 57px 0 rgba(0, 0, 0, 0.5);
}

.b-popup-wrapper {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  padding-left: 80px;
  padding-top: 48px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.b-popup-content-wrapper {
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

.b-popup .close {
  padding: 0;
  margin: 0;
  position: relative;
}

.b-popup .close::after {
  content: "";
  background-image: url(../img/icon-close.svg);
  background-size: 21px 21px;
  /*background-color: #6a7180;*/
  width: 21px;
  height: 21px;
  position: absolute;
  left: 590px;
  top: 9px;
}

.b-popup-content {
  padding: 0;
  margin: 0;
  width: 220px;
}

.b-popup-content label {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.b-popup input {
  font-family: "PT Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 22px;
  height: 34px;
  width: 216px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.b-popup input::placeholder {
  padding-left: 14px;
  color: #a9a9a9;
}

.for-help {
  background-color: #ffffff; /*Цвет текстового поля*/
  border-radius: 2px 2px 2px 2px; /*Закругляем уголки*/

  border: 2px solid #dee3e4;
}

.textarea-wrapper {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  margin-left: 80px;
}

.text-for-help {
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.b-popup textarea {
  padding: 0;
  margin: 0;
  width: 456px;
  height: 114px;
  margin-top: 11px;
}

.b-popup textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 11px;
  padding-left: 14px;
  color: #a9a9a9;
}

.text-help {
  background-color: #ffffff; /*Цвет текстового поля*/
  border-radius: 2px 2px 2px 2px; /*Закругляем уголки*/

  border: 2px solid #dee3e4;
}

.send-link-wrapper {
  height: 112px;
  background-color: #f4f4f4;

  margin-top: 21px;
}

button.send-link {
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin: 0;
  margin-left: 80px;
  margin-top: 37px;
  font: inherit;
  width: 460px;
  height: 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
}

.modal-map {
  top: 50%;
  left: 50%;
  display: none;
  width: 940px;
  height: 446px;
}

.modal-map p {
  margin: 0;
}